*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
/*NAvBAR DESIGN*/
header{
    background-color: rgba(65, 37, 103, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 200px;
    border-bottom: 1px solid #fb09b238;
}
nav>h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}
nav>h1>span{
    background: linear-gradient(0deg, rgba(247, 233, 63, 1) 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav>div{
    display: flex;
    gap: 2rem;
} 
 nav>div>a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
 }
 .btn{
    background:linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
    color: white;
    border: none;
    padding: 0.8rem 1rem; 
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;

 }
 /*HERO SECTION*/
 .hero{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 760px;
    padding-top: 96px;
    
 }
.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle {
    width: 350px;
    height: auto;

}
.mic {
    width: 117px;
    height: auto;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);

}
.hero .hero-container span {
    background-color: #00FF88;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    display: inline-block;
    position: absolute;
    left: 54%;
    top: 2%;

}
.hero-text {
    text-align: center;
    margin-top: 40px;
}
  .hero-text h1{
    color: white;
    font-size: 3.8rem;
    margin-bottom: 8px;
  }
.hero-text p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 24px;
}

.hero-btn{
    text-align: center;
}
.hero-btn i{
    margin-right: 8px;
}
.btn-two{
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    color: #00FF88;
    padding: 13px 20px;
    margin-left: 8px;
    text-align: center;
}
.btn-two img{
    margin-right: 8px;
} 

